*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    background: #000;
    height: 80px;
    width: 100%;
    font-size: xx-large;
}

.header .nav-bar{
    width: 90%;
    height: 80px;
    line-height: 80px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 200;
}
.header .nav-bar .logo{
    z-index: 2;
    position: relative;
    left: 100px;
    font-size: xx-large;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(1.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}


.header .nav-bar .logo a{
    font-size: 100;
    font-weight: 900;
    padding: 20px;
    text-transform: uppercase;
}


.header .nav-bar .menu{
    z-index: 2;
}

.header .nav-bar .menu ul li{
    display: inline-block;
    line-height: 80px;
    margin-right: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    background: url(2.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.header .nav-bar .menu ul li a{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity: 0.8;
    color: #000;
}
.header .nav-bar .menu ul li a.active{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
.header .nav-bar .menu ul li a:hover{
    opacity: 1;
    background-color: #fff;
    color: #000;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.content h1{
    font-size: 100px;
    margin-top: 80px;
    font-style: italic;
    color: white;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(3.jpg);
    -webkit-background-clip: text;
}
.content p{
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
    font-size: 40px;
    color: #fff;
}
video{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}


